
.form {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: 15%;
  width: 100%;
  border-top: 5px solid #F3F1F5;
}

.input {
  align-self: center;
  width: 90%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding-left: 10px;
}

.input:focus {
  outline: none;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  color: gray;
  font-weight: bold;
  font-size: 0.8em;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dots {
  z-index: 10;
  width: 100%;
  height: 60%;
}

.dots:hover {
  cursor: pointer;
}
