
.global-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: url('../assets/black-mamba.png');
}

.screen {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 80%;
  background-color: white;
  border: 10px solid #C9CCD5;
  border-radius: 40px;
}

@media screen and (max-width: 640px) {

  .global-page {
    flex-direction: column;
    height: 100%;
  }
  .screen {
    margin: 30px;
    height: 600px;
  }
}
