
.open-menu {
  position: absolute;
  bottom: 100%;
  right: 0;
  height: 250%;
  width: 50%;
  background:
  linear-gradient(to bottom, rgba(247, 180, 44, 0.8), rgba(252, 87, 94, 0.8));;
  border-radius: 29px 29px 0 29px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  animation-duration: 2.1s;
  animation-name: fade;
}

.open-menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 15px 30px;

}

.open-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #63B4B8;
  padding: 8px 0;
  font-weight: 600;
  font-size: 1.1em;
}

.open-menu-settings {
  cursor: default;
  padding: 10px;
  color: #F3F1F5;
  font-size: 1.5em;
  font-weight: 600;
  border-bottom: 1px solid #F3F1F5;
}

.open-menu-input {
  border: none;
  background-color: #F3F1F5;
  width: 75%;
  margin-left: 15px;
}

.open-menu-input:focus {
  outline: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
